@model Desafio.WebApp.ViewModels.JogoViewModel

@{
    ViewData["Title"] = "Excluir Jogo";
}


    <div>
        <h4>Tem Certeza que deseja Excluir esse Registro ?</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Emprestado)
            </dt>
            <dd class="col-sm-10">
                @if (Model.Emprestado)
                {
                    <span class="badge badge-danger">Sim</span>
                }
                else
                {
                    <span class="badge badge-info">Não</span>
                }
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a class="btn btn-info" asp-action="Index">Voltar</a>
        </form>
    </div>
