@model Desafio.WebApp.ViewModels.EmprestimoViewModel

@{
    ViewData["Title"] = "Novo Empréstimo";
}


<h3 style="padding-top: 50px">@ViewData["Title"] </h3>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PessoaId" class="control-label"></label>
                <select asp-for="PessoaId" class="form-control" asp-items="@(new SelectList(Model.Pessoas, "Id", "Nome"))"></select>
                <span asp-validation-for="PessoaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JogoId" class="control-label"></label>
                <select asp-for="JogoId" class="form-control" asp-items="@(new SelectList(Model.Jogos, "Id", "Nome"))"></select>
                <span asp-validation-for="JogoId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DataEmprestimo" class="control-label"></label>
                <input asp-for="DataEmprestimo" type="date" class="form-control"/>
                <span asp-validation-for="DataEmprestimo" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
